.App {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
.Stackflow-Home{
  cursor: pointer;
}
.Topbar{
  border-top: 3px solid rgb(244,130,37);
  display: flex;
  flex-wrap: nowrap;
  padding-left: 30px;
  align-content: space-between;
  align-items: center;
  height: 60px;
  gap: 10px;
  background-color: rgb(248,249,249);
  box-shadow: -1px 6px 5px -3px rgba(176,174,174,0.75);
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 85vh;
  padding-top: 30px;
  padding-bottom: 10px;
  border-right: 3px solid rgb(248,249,249);
  align-items: flex-start;
}
.Bottom_navbar{
  color: white;
  justify-content: space-around;
  background-color: #232629;
  display: flex;
}
p{
  font-size: 12px;
  color: rgb(179, 179, 179);
  cursor: pointer;
}
.logo{
  padding-top: 15px;
}
