.App {
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
.Stackflow-Home {
  cursor: pointer;
}

.Topbar,
.LoginTopbar {
  border-top: 3px solid rgb(244, 130, 37);
  display: flex;
  flex-wrap: nowrap;
  padding-left: 30px;
  align-content: space-between;
  align-items: center;
  height: 60px;
  gap: 10px;
  background-color: rgb(248, 249, 249);
  box-shadow: -1px 6px 5px -3px rgba(176, 174, 174, 0.75);
}
.LoginTopbar {
  border-top: 3px solid rgb(244, 130, 37);
  display: flex;
  flex-wrap: nowrap;
  padding-left: 30px;
  align-content: space-between;
  align-items: center;
  height: 60px;
  gap: 10px;
  background-color: rgb(248, 249, 249);
  box-shadow: -1px 6px 5px -3px rgba(176, 174, 174, 0.75);
}
.LoginPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  margin-left: 40%;
  margin-top: 50px;
  width: 200px;
  height: max-content;
  border-radius: 5px;
  background-color: whitesmoke;
}
.BelowNavbar {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 10px;
  border-right: 3px solid rgb(248, 249, 249);
  align-items: flex-start;
}
.SidebarBttn {
  font-size: 14px;
}
.maincontent {
  border-bottom: 1px solid rgb(177, 177, 177);
  display: flex;
  width: 60%;
  height: 15%;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
}
.text {
  font-size: 27px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.sidebarRight {
  color: black;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 40px;
  margin-right: 20px;
  height: min-content;
  width: 298px;
  background-color: rgb(253, 247, 226);
  transform: translate(scroll);
}
.highlights {
  background-color: rgb(251, 243, 213);
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(235, 195, 195);
  border-bottom: 1px solid rgb(235, 195, 195);
}
.Bottom_navbar {
  color: white;
  justify-content: space-around;
  background-color: #232629;
  display: flex;
  width: 100%;
  bottom: 0;
}
p {
  font-size: 12px;
  color: rgb(179, 179, 179);
  cursor: pointer;
}
.logo {
  padding-top: 15px;
}
.LoginPage {
  padding: 20px;
  gap: 10px;
  display: flex;
}
.TitleInput,
.Textarea {
  width: 500px;
  height: 30px;
  padding: 5px;
  margin-top: 10px;
}
.Textarea {
  height: 150px;
  padding: 10px;
}
.QuestionInput {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 800px;
  height: 600px;
  margin: 50px;
  margin-left: 300px;
  border: 1px solid grey;
}
