.App {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}
.Topbar{
  display: flex;
  flex-wrap: nowrap;
  padding-left: 20px;
  align-content: space-between;
  align-items: center;
  height: 60px;
  gap: 10px;
  background-color: rgb(248,249,249);
}


